extends layout

block content
  div
    ol(class="breadcrumb")
      li
        a(href="/") Home
      li
        a(href="/collections/#{collection.collectionId}") Album
      li(class="active") New Kif
  form(id="forms" method="post" action="/collections/#{collection.collectionId}/kifs")
    input(type="hidden" name="_csrf" value!="#{csrfToken}")
    div(class="form-group")
      label(for="kifDescription") Title
      input(id="kifDescription" class="form-control validate[required, maxSize[25]]"
            type="text" name="kifDescription" placeholder="Input Text")
    div(class="form-group")
      label(for="kifdata") Kif
      textarea(id="kifdata" class="form-control validate[required]" name="kifdata"
               placeholder="1 ７六歩(77)\n2 ８四歩(83)\n3 ２六歩(27)\n4 ３四歩(33)\n..." rows="10")
    div(class="form-group")
      label(for="comment") Comment
      textarea(id="comment" class="form-control" name="comment" placeholder="Input Comments" rows="6")
    button(class="btn btn-info" type="submit") Add
  hr